body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 221, 210);
}
#nav {
  background-color: rgb(24, 118, 211); 
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 60px;

}
.title{
  color: white;
  font-size:260%;
  padding-left: 1ch;
}
ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 2ch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  
  margin: 0;
}

ul li {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

ul li {
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-in-out;
}


ul li a:hover {
  transform: scale(1.1);
  color: #00e0ff;
}

